#main-galeria{
    section{
        background-color: rgb(255, 255, 255);
        h1{
            text-align: center;
            font-size: 4rem;
        }
        h2{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 5%;
            margin-top: 5%;
            padding: 3%;
        }
        img{
            padding: 2px;
        }
    }
    aside{
        background-color: rgb(125, 125, 125);
        margin-top: 10%;
        padding-top: 2%;
        h2{
            color: rgb(255, 255, 255);
            text-align: center;
        }
        iframe{
            height: 50vh;
        }
    }
}